@model TrainMaster.Domain.Entity.DepartmentEntity
@using System.Security.Claims
@{
    ViewData["Title"] = "Cadastrar Departamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}

<div class="project-description">
    <h2 style="color: #20b2aa; margin-bottom: 20px;">Cadastro de Departamento</h2>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert">@ViewBag.ErrorMessage</div>
    }

    <div class="form-container">
        <form asp-action="Create" method="post" class="form-box">
            <input type="hidden" name="UserId" value="@userId" />
            <div class="form-group">
                <label for="name">Nome</label>
                <input name="Name" class="input-field" />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label for="Description">Descrição</label>
                <textarea name="Description" rows="3" class="input-field"></textarea>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div class="button-group">
                <button type="submit" class="btn btn-save">Salvar</button>

                <a href="/Departamentos/Index" class="btn btn-cancel">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
