@model TrainMaster.Domain.Dto.LoginDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - TrainMaster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Seja bem-vindo!</h2>
            <p>Digite suas credenciais para acessar sua conta:</p>

            @if (!ViewData.ModelState.IsValid)
            {
                <div style="color: red; text-align: center; margin-bottom: 15px;">
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <div>@error.ErrorMessage</div>
                    }
                </div>
            }
            <form asp-action="Index" method="post">
                <div class="input-field">
                    <input asp-for="Cpf" id="cpf" placeholder="CPF" />
                    <i class="fas fa-envelope"></i>
                    <span asp-validation-for="Cpf" class="validation-message"></span>
                </div>
                <div class="input-field">
                    <input asp-for="Password" placeholder="Senha" type="password" />
                    <i class="fas fa-lock"></i>
                    <span asp-validation-for="Password" class="validation-message"></span>
                </div>

                <a href="/Login/ForgotPassword">Esqueceu a senha</a>
                <button type="submit">Entrar</button>
            </form>
        </div>

        <div class="side-panel">
            <h2>Crie sua conta!</h2>
            <p>Cadastre-se para começar seus treinamentos na plataforma</p>
            <a href="/users/register">Registrar</a>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }       
    }
    <script src="@(Url.Content("~/js/maskCpf.js"))"></script>
</body>
</html>
