@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<div class="project-description">
    <h2>Descrição do Projeto - TrainMaster</h2>
    <p>
        O TrainMaster é uma plataforma web inovadora, desenvolvida para gerenciar e otimizar o treinamento de funcionários em empresas. 
        Seu principal objetivo é oferecer um ambiente de aprendizado online acessível de qualquer lugar, a qualquer momento e em qualquer dispositivo.
    </p>
    <p>
        A plataforma permite a criação e gestão de cursos, aulas e provas online; implementa elementos de gamificação para aumentar o engajamento dos usuários; 
        oferece relatórios de desempenho; suporta diferentes perfis (usuário comum, professor, coordenador e RH); e garante acessibilidade para marcação de presença, participação em aulas e realização de provas.
    </p>
</div>
