@model TrainMaster.Domain.Dto.UserCreateUpdateDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create Account";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - TrainMaster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="container">
        <div class="side-panel">
            <h2>Crie sua conta!</h2>
            <p>Use sempre informações válidas.</p>
            <a href="/Login">Voltar</a>
        </div>

        <div class="form-container">
            <h2>Criar conta</h2>
            <p>Digite as informações abaixo:</p>

            <form asp-action="Register" asp-controller="User" method="post">
                <div class="input-field">
                    <input asp-for="Cpf" placeholder="CPF" />
                    <i class="fas fa-envelope"></i>
                    <span asp-validation-for="Cpf" class="validation-message"></span>
                </div>
                <div class="input-field">
                    <input asp-for="Email" placeholder="Email" />
                    <i class="fas fa-envelope"></i>
                    <span asp-validation-for="Email" class="validation-message"></span>
                </div>
                <div class="input-field">
                    <input asp-for="Password" placeholder="Senha" type="password" />
                    <i class="fas fa-lock"></i>
                    <span asp-validation-for="Password" class="validation-message"></span>
                </div>
                <button type="submit">Registrar</button>
            </form>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
